{% extends 'base.html' %}
{% block title %}
  Add Product
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form method="POST" action="{% url 'added_product' %}">
          {% csrf_token %}
          <p class="mb-3">
            <label for="name" class="form-label">Product Name</label>
            <input type="text" class="form-control" id="name" name="name" />
          </p>
          <p class="mb-3">
            <label for="image" class="form-label">Image Name</label>
            <input type="text" class="form-control" id="image" name="image" />
          </p>

          <p class="mb-3 mt-3">
            <label for="sale" class="form-label">Sale</label>
            <input type="number" class="form-control" id="sale" name="sale" />
          </p>

          <p class="mb-3">
            <input type="checkbox" class="btn-check" id="isnew" autocomplete="off" />
            <label class="btn btn-outline-primary" for="isnew" name="isnew">Is New</label>
          </p>

          <p class="mb-3">
            <label for="category" class="form-label">Category</label>
            <input type="text" class="form-control" id="category" name="category" />
          </p>

          <p class="mb-3">
            <label for="price_old" class="form-label">Old Price</label>
            <input type="number" class="form-control" id="price_old" name="price_old" />
          </p>

          <p class="mb-3">
            <label for="price_new" class="form-label">New Price</label>
            <input type="number" class="form-control" id="price_new" name="price_new" />
          </p>

          <p class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input type="number" class="form-control" id="rating" name="rating" />
          </p>

          <p>
            <input type="checkbox" class="btn-check" id="topselling" autocomplete="off" />
            <label class="btn btn-outline-primary" for="topselling" name="topselling">Is Top Selling</label>
          </p>

          <button type="submit" class="btn btn-success mt-2">Create</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
