{% extends 'base.html' %}
{% load static %}

{% block title %}
  Electro - HTML Ecommerce Template
{% endblock %}
{% block content %}
  <!-- SECTION -->
  {% include 'shop.html' %}
  <!-- /SECTION -->

  <!-- SECTION -->
  {% include 'new_product_section.html' %}
  <!-- /SECTION -->

  <!-- HOT DEAL SECTION -->
  {% include 'hot_deals.html' %}
  <!-- /HOT DEAL SECTION -->

  <!-- SECTION -->
  {% include 'top_selling_products.html' %}
  <!-- /SECTION -->

  <!-- SECTION -->
  {% include 'top_selling.html' %}
  <!-- /SECTION -->

  <!-- NEWSLETTER -->
  {% include 'newsletter.html' %}
  <!-- /NEWSLETTER -->
{% endblock %}
