<div id="login-overlay" style="display:none;">
  <div class="overlay-content">
    <form action="" method="post">
      {% csrf_token %}
      <p>
        <input type="email" class="form-control" name="email" placeholder="Email" />
      </p>
      <p>
        <input type="password" class="form-control" name="password" placeholder="Password" />
      </p>
      <button type="submit" class="btn btn-primary">Login</button>
      <p>
        Don't have an account? <span><a href="{% url 'register' %}">Register</a></span>
      </p>
      <button type="submit">Login</button>
      {% comment %} <button type="button" onclick="closeLoginOverlay()">Close</button> {% endcomment %}
    </form>
  </div>
</div>
