{% extends 'base.html' %}
{% load static %}

{% block title %}
  Product Lists
{% endblock %}

{% block content %}
  <div class="product">
    {% for product in products %}
      <div class="product-img">
        <img src="{% static './img/' %}{{ product.image }}" alt="{{ product.name }}" />
        <div class="product-label">
          <span class="sale">{{ product.sale }}</span>
          <span class="new">{{ product.label }}</span>
        </div>
      </div>
      <div class="product-body">
        <p class="product-category">{{ product.category }}</p>
        <h3 class="product-name"><a href="#">{{ product.name }}</a></h3>
        <h4 class="product-price">${{ product.new_price }} <del class="product-old-price">${{ product.old_price }}</del></h4>
        <div class="product-rating">
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
          <i class="fa fa-star"></i>
        </div>
        <div class="product-btns">
          <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
          <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
          <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
        </div>
        <div class="add-to-cart">
          <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
